.homepage {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;
}

.products {
  h2 {
    display: flex;
    justify-content: center;
  }
}

.card {
  display: flex;
  margin-top: 2rem;
}
